.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .pagination .PaginationArtButton {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .pagination .PaginationArtButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .pagination .PaginationArtButton.active {
    background-color: #0056b3;
  }
  